{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>

</head>
<body>

  <link rel="stylesheet" href="https://unpkg.com/react-table@latest/react-table.css">

  <h2>Temperature in London today</h2>

  <script type="module">
    import ReactTable from "https://dev.jspm.io/react-table"
    import React from "https://dev.jspm.io/react"
    import ReactDOM from "https://dev.jspm.io/react-dom"

    const e = React.createElement;

    const columns = [{
      Header: null,
      accessor: 'title',
      minWidth: 200,
      maxWidth: 300
    }, {
      Header: null,
      accessor: 'value',
      minWidth: 200,
      maxWidth: 250
    }];
    const data = [{
      'title': 'Temperature',
      'value': '{{ weather_summary.temp }}°C'
    }, {
      'title': 'Minimum Temperature',
      'value': '{{ weather_summary.min }}°C'
    }, {
      'title': 'Maximum Temperature',
      'value': '{{weather_summary.max }}°C'
    }, {
      'title': 'Humidity',
      'value': '{{ weather_summary.humidity }}%'
    }]

    const props = {
      data: data,
      columns: columns,
      defaultPageSize: 4,
      showPagination: false,
      showPageSizeOptions: false,
    }

    const domContainer = document.querySelector('#table-component');
    ReactDOM.render(e(ReactTable.default, props), domContainer);
  </script>


  <div id="table-component"></div>

  <script type="module">
    import ReactD3 from "https://dev.jspm.io/react-d3-components"
    import ReactDOM from "https://dev.jspm.io/react-dom"
    import React from "https://dev.jspm.io/react"

    let BarChart = ReactD3.BarChart
    const e = React.createElement;

    let data = [{
      label: 'dayTemperatures',
      values: [
        {% for element in weather_forecast_tomorrow %}
            {x: '{{element.x}}', y: {{element.y}}},
         {% endfor %}
          ]
    }];

    const props = {
      data: data,
      width: 600,
      height: 400,
      margin: {top: 10, bottom: 50, left: 50, right: 10}
    }

    const domContainerBarchart = document.querySelector('#bar-chart');
    ReactDOM.render(e(BarChart, props,), domContainerBarchart);

  </script>

  <h2>Temperature in London tomorrow</h2>
  <p>Below are the temperature across the day for tomorrow.</p>
  <div id="bar-chart"></div>

</body>

</html>
